html {
    font-size: 62.5%;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

img {
    max-width: 100%;
}

* {
    margin: 0;
    padding: 0;
}

/* HEADER */

.color-nav {
    font-size: 3rem;
    background-color: #0A2239;
}

.nav-derecha {
    justify-content: flex-end;
}

.navbar-toggler span {
    color: white;
    font-size: 2rem !important;
}


/* FOOTER */

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #0A2239;
    padding: 3rem;
    font-size: 1.5rem;
    color: #ccc;
    text-align: center;
    margin-top: 8rem;
    font-family: 'Roboto', sans-serif;
}

.social-medias {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 20px;
}


/* INDEX */

#carouselExampleIndicators {
    width: 60%;
    margin: 0 auto;
}

/* PRODUCTOS */

.card {
    border: solid .1rem;
    width: 30rem;
    padding: 1rem;
    margin: 1rem 1rem 1rem 2rem;
    text-align: center;
    font-size: 2rem;
    background-color: grey;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.cards-inicio {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

button {
    background-color: #0A2239;
    color: white;
    border-color: grey;
}

button:hover {
    color: black;
}

/* CONTACTO */

.casilla {
    text-align: center;
}

.formulario {
    font-size: 1.5rem;
    text-align: center;
    font-family: 'Roboto', sans-serif;

}

/* UBICACIÓN */

.map {
    margin: 1rem;
}

.ubicacion {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.titulo-ubicacion {
    margin-bottom: 10rem;
}

/* SOBRE NOSOTROS */

.nosotros {
    display: flex;
    flex-direction: column;
    gap: 7rem;
    font-family: 'Roboto', sans-serif;
}

.p-nosotros {
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

h1 {
    font-size: 5rem;
    text-align: center;
    margin-bottom: 4rem;
    margin-top: 5rem;
    font-family: 'Roboto', sans-serif;
}


h2 {
    font-size: 3rem;
    margin-top: 5rem;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

h3 {
    font-size: 2.5rem;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.nav-link {
    color: white;
    padding-left: 20px !important;
}

.nav-link:hover {
    color: antiquewhite !important;
}

h1 {
    -webkit-transition: 1s linear;
    transition: 3s linear;
}

h1:hover {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    max-width: 100%;
    max-height: 100%;
}

.col p {
    font-weight: 700;
    font-size: 1.5rem;
    text-align: center;
}

@media (max-width: 768px) {
    h1 {
        font-size: 2.5rem;

    }

    .text-footer {
        font-size: 1.5rem;
    }

}

@media (max-width: 375px) {

    .map {
        width: 200px;
        height: 200px;
    }
}

.video-index{
    display: flex;
    justify-content: center;
    margin-top: 30rem;
}